@page
@model WebUi.Pages.ServiceItem.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ServiceItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceItem.Name" class="control-label"></label>
                <input asp-for="ServiceItem.Name" class="form-control" />
                <span asp-validation-for="ServiceItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceItem.ProviderId" class="control-label"></label>
                <select asp-for="ServiceItem.ProviderId" class ="form-control" asp-items="ViewBag.ProviderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceItem.LocationId" class="control-label"></label>
                <select asp-for="ServiceItem.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceItem.ServiceLevelId" class="control-label"></label>
                <select asp-for="ServiceItem.ServiceLevelId" class ="form-control" asp-items="ViewBag.ServiceLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceItem.TypeId" class="control-label"></label>
                <select asp-for="ServiceItem.TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
